.number-wrapper{
  position: relative;
  display: inline-block;

  & .number-input{
  width: 86px;
  height: 56px;
  padding: 8px 10px;
  background: var(--background-secondary);
  border: 2px solid transparent;
  border-radius: 8px;
  

  color: var(--content-primary);
  font: var(--display-sm);
  text-align: center;

  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }

  &.caret-custom {
    caret-shape: block;
    caret-animation: manual;
    animation: old-caret 2s infinite;
  }

  &:hover{
    background:
      linear-gradient(var(--background-secondary), var(--background-secondary)) padding-box,
      var(--gradient-border) border-box;
  }

  &:focus{
    outline: none;
    text-align: center;          
    background:
      linear-gradient(var(--background-secondary), var(--background-secondary)) padding-box,
      var(--gradient-border) border-box;
  }
}
}

@keyframes old-caret {
  from,
  50% {
    caret-color: var(--content-primary);
  } 
  75%,
  to {
    caret-color: transparent;
  }
}

