.number-wrapper{
  position: relative;
  display: inline-block;
}

.number-input{
  width: 86px;
  height: 56px;
  padding: 8px 10px;
  background: var(--background-secondary);
  border: 2px solid transparent;
  border-radius: 8px;
  

  color: var(--content-primary);
  font: var(--display-sm);
  text-align: center;
  font-variant-numeric: tabular-nums;       
  caret-color: transparent;      

  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }

  &:hover{
    background:
      linear-gradient(var(--background-secondary), var(--background-secondary)) padding-box,
      var(--gradient-border) border-box;
  }

  &:focus{
    outline: none;
    text-align: center;          
    background:
      linear-gradient(var(--background-secondary), var(--background-secondary)) padding-box,
      var(--gradient-border) border-box;
  }
}

.fake-caret{
  position: absolute;
  top: 50%;
  right: 30px;                   
  transform: translateY(-50%);
  width: 2px;                  
  height: 29px;                
  background: var(--content-primary);
  border-radius: 99px;
  pointer-events: none;
  display: none;
  animation: caret-pulse 2.8s ease-in-out infinite;
  transform-origin: left center;
}

.number-input:focus + .fake-caret{
  display: block;
}

@keyframes caret-pulse{
  0%,100%{ transform: translateY(-50%) scaleX(1);   opacity:.95;}
  50%    { transform: translateY(-50%) scaleX(1); opacity:0;}
}
