* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Content */

    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /* Background */

    --background-primary: #020202;
    --background-secondary: #24222E;
    --background-brand: #C58DE7;
    --brackground-gray: #3D3D3D;

    /* Accent */

    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    /* Gradient */

    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
    --gradient-background: #D586E0 0%, #91A1FA 98.93%;
    --gradient-content: #C7C9CC 0%, #3D3D3D 100%;

    /* Typography */

    --font-family-sora: 'Sora', sans-serif;
    --font-family-roboto-flex: 'Roboto Flex', sans-serif;
    --font-family-roboto-mono: 'Roboto Mono', monospace;

    --display-lg: ExtraBold 57px/130% var(--font-family-sora);
    --display-md: ExtraBold 40px/130% var(--font-family-sora);
    --display-sm: Bold 32px/130% var(--font-family-sora);

    --paragraph-lg: Medium 16px/150% var(--font-family-roboto-flex);
    --paragraph-md: Medium 14px/150% var(--font-family-roboto-flex);
    --paragraph-sm: Medium 12px/150% var(--font-family-roboto-flex);
    --label-md: Bold 20px/150% var(var(--font-family-roboto-flex));
    --label-sm: Bold 16px/150% var(--font-family-roboto-flex);

    --overline: Bold 16px/150% var(--font-family-roboto-mono);


}